/* Definir variables de colores personalizados */
:root {
    --earth-yellow: #E1AB60;
    --pearl: #DADAC0;
    --coyote: #80725C;
    --burnt-orange: #AE5F2D;
    --russet: #804b32;
    --khaki: #BDB392;
}

.bg-dark {
    background-color: var(--coyote) !important;
}

.bg-secondary {
    background-color: var(--khaki) !important;
}

.btn-primary {
    background-color: var(--earth-yellow) !important;
    border-color: var(--pearl) !important;
}

.link-primary, .link-primary:hover, .fs-1 {
    color: var(--burnt-orange) !important;
}

.carousel-caption {
    background-color: rgb(128, 75, 50, 0.4) !important;
}

.carousel-caption h5, .carousel-caption p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Aplicar colores de fondo personalizados */


.bg-pearl {
    background-color: var(--pearl) !important;
}

.bg-burnt-orange {
    background-color: var(--burnt-orange) !important;
}

.bg-russet {
    background-color: var(--russet) !important;
}



/* Aplicar colores de texto personalizados */
.text-earth-yellow {
    color: var(--earth-yellow) !important;
}

.text-pearl {
    color: var(--pearl) !important;
}

.text-coyote {
    color: var(--coyote) !important;
}

.text-burnt-orange {
    color: var(--burnt-orange) !important;
}

.text-russet {
    color: var(--russet) !important;
}

.text-khaki {
    color: var(--khaki) !important;
}

/* Aplicar gradientes personalizados */
.bg-custom-gradient {
    background: linear-gradient(45deg, var(--earth-yellow), var(--burnt-orange), var(--russet)) !important;
}

.bg-gradient-reverse {
    background: linear-gradient(135deg, var(--khaki), var(--pearl), var(--coyote)) !important;
}
