<form method="post" enctype="multipart/form-data"  action="{{ url_for('editar_contacto', id=contacto.id) }}" class="row g-3 needs-validation py-3" novalidate>
      <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="validationCustom01" value="{{ contacto.nombre }}" required>
            <div class="invalid-feedback">
                  Debes proporcionar un nombre.
            </div>
      </div>
      <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apellidos</label>
            <input name="apellidos" type="text" class="form-control" id="validationCustom02" value="{{ contacto.apellidos }}" required>
            <div class="invalid-feedback">
                  Debes proporcionar un apellido.
            </div>
      </div>
      <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Correo electrónico</label>
            <div class="input-group has-validation">
                  <input name="email" type="email" class="form-control" id="validationCustomUsername"
                        aria-describedby="inputGroupPrepend"  value="{{ contacto.email }}" required>
                  <div class="invalid-feedback">
                        Por favor escribe un correo electrónico válido.
                  </div>
            </div>
      </div>
      <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Ciudad</label>
            <input name="ciudad" type="text" class="form-control" id="validationCustom03" value="{{ contacto.ciudad }}" required>
            <div class="invalid-feedback">
                  Por favor escribe tu ciudad.
            </div>
      </div>
      <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Teléfono</label>
            <input name="telefono" type="number" class="form-control" id="validationCustom05"  value="{{ contacto.telefono }}" required>
            <div class="invalid-feedback">
                  Falta el número de teléfono.
            </div>
      </div>
      <div class="col-12">
            <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
</form>