{% extends 'base.html' %}

{% block content %}
    {% if papelera: %}
    <h1>Papelera de reciclaje</h1>
    <a href="{{ url_for('database_contactos') }}" class="btn btn-primary">Regresar</a>
    {% else: %}
    <h1>Contactos</h1>
    <a href="{{ url_for('database_contactos_papelera') }}" class="btn btn-primary">Papelera</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.apellidos }}</td>
                    <td>{{ contacto.email }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.ciudad }}</td>
                    <td>
                        {% if papelera: %}
                        <a href="{{ url_for('restaurar_contacto', id=contacto.id) }}" class="btn btn-success">Restaurar</a>
                        {% else: %}
                        <a href="{{ url_for('editar_contacto', id=contacto.id) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ url_for('eliminar_contacto', id=contacto.id) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este contacto?')">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

