{% extends 'base.html' %}

{% block content %}

      <h3>Nuestro surtido de galletas.</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t01.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover" href="/galletas/t01">Chips de Chocolate</a></h5>
              <p class="card-text">Galleta dorada con chispas de chocolate derretidas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t02.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Con uvitas</h5>
              <p class="card-text">Galleta de avena con pasas, textura crujiente y suave.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t03.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chispitas Arcoiris</h5>
              <p class="card-text">Galleta de azúcar con chispas de colores y bordes dorados.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t04.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artesanal</h5>
              <p class="card-text">Galleta de mantequilla de maní con patrón de tenedor.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t05.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chocolate</h5>
              <p class="card-text">Galleta de chocolate con trozos de chocolate blanco.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t06.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Girasol</h5>
              <p class="card-text">Galleta de mantequilla con textura delicada y crujiente</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t07.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apanada Azucarada</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t08.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Macarrones</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t09.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">De la fortuna</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t10.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hamburguesita</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t11.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Corazón Cupido</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ url_for('static', filename='img/galleta_t12.webp') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jengibre</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}