{% extends 'base.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4" id="contenedor-galletas">
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {

    fetch("http://127.0.0.1:5000/api/galletas?page=1")
      .then((response) => response.json())
      .then((data) => {
        
        document.getElementById("contenedor-galletas").innerHTML = "";

        const galletas = Array.isArray(data) ? data : data.galletas || [];
        galletas.forEach((galleta) => {

          const col = document.createElement("div");
          col.className = "col";

          const card = document.createElement("div");
          card.className = "card h-100";

          card.innerHTML = `
            <img src="" class="card-img-top" alt="${galleta.nombre}">
            <div class="card-body">
              <h5 class="card-title"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover" href="/galletas/${galleta.id}">${galleta.nombre}</a></h5>
              <p class="card-text">${galleta.precio}</p>
            </div>
          `;

          col.appendChild(card);
          document.getElementById("contenedor-galletas").appendChild(col);

        });

      })
      .catch((error) => console.error("Error:", error));

  });
</script>

{% endblock %}